version: '3.8'

services:
  api:
    build: .
    container_name: api-secure
    ports:
      - "4000:4000"
    env_file:
      - .env
    configs:
      - source: app_config
        target: /etc/app/config.yml
        mode: 0444  # Somente leitura
    networks:
      - secure-network

configs:
  app_config:
    file: ./config.yml

networks:
  secure-network:
    driver: bridge
